<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBV0g2RD9vG6S1EYB3-Eo7nj7yH0wcu1tU</string>
	<key>GCM_SENDER_ID</key>
	<string>941708243242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.symplebbiyack</string>
	<key>PROJECT_ID</key>
	<string>symple-bbiyack</string>
	<key>STORAGE_BUCKET</key>
	<string>symple-bbiyack.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941708243242:ios:c947d46575c0c05c8eae53</string>
</dict>
</plist>